.bgProducts{
    -fx-background-image: url("assets/backgris.jpg");
}
.product1{
   -fx-background-image:url("assets/product.jpg");
}
.back{
    -fx-background-image:url("assets/back.jpg");
}
.bck{
    -fx-background-image:url("assets/bck.jpg");

}
.back1{
    -fx-background-image:url("assets/back1.jpg");}
.coback{
    -fx-background-image:url("graphics/21.png");
}

.ChosenBG{
    -fx-background-image:url("graphics/ChosenBG.png");
}

.PaneBg{
    -fx-background-image:url("graphics/PaneBackground.png");
}
.searchInput{
    -fx-background-image:url("graphics/SearchInput.png");
}
.searchBtn{
    -fx-background-image:url("graphics/SearchButton.png");
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}


.ajoutBtn{
    -fx-background-image:url("graphics/ajoutBtn.png");
}
.ajoutBtn:hover{
    -fx-background-image:url("graphics/ajout_hover.png");
}

.modifBtn{
    -fx-background-image:url("graphics/modifier_button.png");
}
.modifBtn:hover{
    -fx-background-image:url("graphics/modifier_hover.png");
}

.suppBtn{
    -fx-background-image:url("graphics/supprimer_button.png");
}
.suppBtn:hover{
    -fx-background-image:url("graphics/supprimer_hover.png");
}

.crudBottom{
    -fx-background-image:url("graphics/crudBottom.png");
}